@charset "utf-8";

.fblock{
	width: 70%;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.5);
	display: block;
	margin-left: auto;
	margin-right: auto;
	position:relative;	
	top: 100px;
}
.fblock h2{
	text-align: center;
}
.fblock input{
	width: 300px;
	height: 30px;
}
.fblock p{
	font-size: 1.7em;
}
.fblock h2{
	font-size: 2.7em;
	padding-top: 20px;
	padding-bottom: 20px;
}
.form-block-input{
	width: 70%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.left-form{
	float: left;
	margin-right: 23px;
	height: 200px;
	width: 48%;
}
.right-form{
	float: left;
	height: 200px;
	width: 48%;
}
.right-form textarea{
	height: 162px;
	width: 100%;
}
.left-form input{
	margin-bottom: 10px;
	width: 100%;
}
.fblock button{
	background-color: lightgreen;
	width: 200px;
	height: 50px;
	display: block;
	margin-right:auto;
	margin-left:auto;
	border-top: 4px solid green;

}
footer{
	background-image: url(../images/footerbg.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	height: 620px;
	width: 100%;
}
.fcontent{
	padding-top: 100px;
	width: 70%;
	display: block;
	margin-right:auto;
	margin-left: auto;

}
.ftext{
	float: right;
	width: 75%;
}
.ftext a{
	color: white;
	font-size: 1.2em;
	top: 15px;
	position:relative;
}
.ftext p{
	color: white;
	font-size: 2em;
	font-weight: 600;
}
.ftext a{
	margin-right: 5px;
}
.fblock-1{
}
.fcontent-logo{
	width: 25%;
	float: left;
}
.fcontent-logo img{
	width: 222px;
	height: 56px;
}
.fblock-2{
	 float: left;
	 width: 25%;
}
.fblock-2 a, .fblock-lists h2, .fblock-2 p, .fblock-2 h4, .fblock-lists a{
	color: white;
}
.fblock-contacts h4, .fblock-lists h4{
	font-size: 1.7em;
}
.fblock-contacts a, .fblock-lists a{
	font-size: 1.4em;
	line-height: 2;
}
.fblock-contacts ul, .fblock-lists ul{
	list-style-type: none;
	padding-left: 0 !important;
	padding-top: 20px;
}
.fblock-contacts{
	padding-top: 120px;

}
.fblock-2{
}
.fblock-3 h2{
	font-size: 3em;
	color: white;
	text-align: center;
	margin-bottom: 50px;
}
.fblock-3{
	margin-top: 50px;
	width: 100%;
	float: left;
}
.crm-webform-label-title-container {
    font-size: 3em;
}
.fblock-contacts a{
	padding-left: 10px;
}
.fblock-contacts i{
	color: white;
	padding-right: 20px;
}
.ftext-logistics{
	padding-top: 68px;
	width: 200px;
	float: left;
	padding-right: 265px;
}
.fblock-soc-icons{
	padding-top: 68px;
	width: 200px;
	float: left;
}
.fblock-soc-icons img{
	margin-left: 20px;
}
.fblock-soc-icons h2{
	color: white;	
	padding-bottom: 30px;
}
.ico-tel{
	background-image:url(../images/ico/phone.png);
	background-repeat: no-repeat;
	background-size: 60%;
}
.ico-mail{
	background-image:url(../images/ico/letter.png);
	background-repeat: no-repeat;
	background-size: 60%;
}
.ico-skype{
	background-image:url(../images/ico/skype.png);
	background-repeat: no-repeat;
	background-size: 60%;
}
/*form*/
.contact-form{
    width: 85%;
    display:block;
    transition: 0.5s ease;
	padding : 2em 0 5.5em 0;
}
.form-content{
	transition: 0.5s ease;
	width: 70em;
	float: left;
}

.form-header p{
	padding-bottom: 30px;
	text-align: center;
	font-size: 2em;
	width: 500px;
	display: block;
	margin-right:auto;
	margin-left:auto;
}
.form-header{
	display: block;
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	transition: 0.5s ease;
	margin-bottom: 10px;
}
.form-side-text h3{
	color: #0c64e6;
	font-size: 4em;
	font-weight: 600;
}
.form-side-text{
	transition: 0.5s ease;
	max-width: 43em;
	padding : 0 0 0 7em;
}
.form-side-text p{
	margin-top: 20px;
	font-size: 2em;
}
.form-side-img{
	transition: 0.5s ease;
	float: left;
	padding-top: 3em;
	display: block;
}

@media (max-width: 1350px){
	.contact-form{
		width: 100%;
	}
	.form-content{
		width: 650px;
	}
	.form-side-text{
		padding-right: 0;
	}
	.ftext{
		width: 70%;
	}
}
@media (max-width: 1650px){
	.form-content{
		width: 48em;
	}
}
@media (max-width: 1150px){
	.form-side-text{
		width: 50%;
	}
	.ftext{
		width: 60%;
	}
}



.slick-arrow.slick-hidden {
    display: none;
}
.slick-prev{
	border: none;
    background-image: url(./../images/arrow-left.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30px;
    height: 50px;
    background-color: transparent;
    float: left;
    margin-right: 23px;
}
.slick-next{
	border: none;
    float: right;
    background-image: url(./../images/arrow-right.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30px;
    height: 50px;
    background-color: transparent;
    position:relative;
    top: -55px;
}

.slick-slide img{
    width: auto;
    height: auto;
    margin: auto;
}